:host {
  background: #E8E9EC;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone {
  border: 2px dashed #0087F7;
  background: white;
  width: 60%;
  border-radius: 5px;
}
.dropzone .dz-preview.dz-file-preview.dz-error.dz-complete .dz-image {
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);  /*background: linear-gradient(to top, rgba(255,0,0,0.2), rgba(255,0,0,1));*/
}
.dropzone .dz-preview.dz-file-preview.dz-success.dz-complete .dz-image {
  background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);    /*background: linear-gradient(to top, rgba(0,255,0,0.2), rgba(0,255,0,1));*/
}
.dropzone .dz

#submitAllBtn {

  /*background: green;*/

  /*color: yellow;*/
}
#clearDropzoneBtn {

  /*background: green;*/

  /*color: yellow;*/
}